@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IoC/Entity Framework Sample Project</h1>
    <p class="lead">
        This project is an example of using StructureMap IoC container along with the Entity Framework 6.
    </p>
    <p>
        @Html.ActionLink("Manage People", "Index", "People", null, new { @class = "btn btn-primary btn-large" })
    </p>
</div>
